
// Variables
$light: white;
$primary-color: #000;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#f8e2ea;
$primary-font:'Poppins', sans-serif;
$icon-font: 'themefisher-font';
$brand:#f8e2ea;
$footer:#738252;